@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');
*{
  margin: 0;
  list-style: none;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
:root{
  --item-color: #3b5998;
}
body{

  background: #f7f7f7;

}


@media (max-width: 900px) {
  .footer {
  display: none;
  }
  }
  #footer a{
    color: white;
  }


/* Wrapper*/
.wrapper{
  padding-left: 0px;
}
/* top_navbar */
.wrapper .top_navbar{
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px

}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: var(--item-color);
  padding: 15px 17px;
  cursor: pointer;

}
.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}
.wrapper .top_navbar .top_menu{
  width: 100%;
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.1);

}
.wrapper .top_navbar .top_menu .logo{
  padding-left: 20px;
  color: var(--item-color);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2 px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;

}
.wrapper .top_navbar .top_menu  ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid var(--item-color);
  text-align: center;
  border-radius: 50%;
  color: var(--item-color);
}
.wrapper .top_navbar .top_menu  ul li a:hover{
  background: #4360b5;
  color: #fff;
  transition: 200ms ease;
}
/* //top_navbar */

/* sidebar */
.wrapper .sidebar {
  position: fixed;
  top: 60px;
  background: var(--item-color);
  width: 200px;
  height: 100%;
  transition: all 200ms ease;
 

}
/* sidebar_tooltip */
.tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.wrapper li:hover .tooltip{
  position: absolute;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:inherit;
  transform: translateY(-40%);
}
.sidebar li:hover .tooltip{
  position: absolute;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top:inherit;
  transform: translateY(-40%);
}

#tooltip_1{
  position: absolute;
  top: 30px;
}
#tooltip_2{
  position: absolute;
  top: 80px;
}
#tooltip_3{
  position: absolute;
  top: 150px;
}

.sidebar.open li .tooltip{
  display: none;
}
/* //sidebar tooltip*/
.wrapper .sidebar ul li a{
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom:1px;
  white-space: nowrap;
}
.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;

}
.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;

}

.wrapper .sidebar ul li a span.title{
  display: inline-block;

}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}
.wrapper .sidebar ul li a:hover:before{
  display: block;
}

/* sidebar footer */
@media screen and (min-width: 900px) { 


.wrapper .sidebar .footer{
  background: var(--item-color) ;
  width: 100%;
  flex: 0 0 auto;
  color: #d3d3d3;
  height: 240px;
  position: absolute;
  bottom: 20px;
  border-top: 0.4px #3e445f solid;
  border-bottom: 0.4px #3e445f solid;
}
.wrapper .sidebar .footer .footer_content{
  height: 40px;
  position: relative;
  margin: 10px 10px 10px 10px;
  padding: 20px;
}

.wrapper .sidebar .footer .footer_bottom {
  
  background-color: var(--item-color);
  color: #fff;
  height: 130px;
  padding: 20px;
  margin: 10px 10px 10px 10px;
  width: calc(100% - 20px);
  text-align: center;
  font-size: 14px;
  position: relative;
  top: 50px;
  bottom: 0px;
  border-top: 0.1px solid #3e3e3e;
  border-bottom: 0.4px solid #3e3e3e;

}

.wrapper .sidebar .footer_bottom .disclaimer {
  font-size: 0.6rem;
  padding-bottom: 12px;
  color: #bbbedb;
  font-weight: 500;
}
}

/* //footer */
/* //sidebar*/

/* main_container */
.wrapper .main_container{
  width: calc(100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition:  all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  /* width: calc(100% + 135px);*/
}
/* //main_container */


/* Collapse Toggle*/
.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}
.wrapper.collapse .sidebar .footer{
  display: none;
}

.wrapper.collapse .main_container{
  width: calc(100% - 70px);
  margin-left: 70px;
}

/* //Collapse Toggle */
/* Main code*/
.wrapper .login {
  width: calc(100% - 200px);
  margin-top: 50px;
  margin-left: 200px;
  height: 100%;
  padding: 15px;
  transition:  all 0.3s ease;

}
.wrapper .login .center{
  position: relative;
  top: 50%;
  left: calc(25% + 20px);
  /* transform: translate(-50%, -50%); */ 
  width: 400px;
  background: white;
  border-radius: 10px;
  padding:30px;
}
.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
   width: 100%;
   padding: 0 5px;
   height: 40px;
   font-size: 16px;
   border: none;
   background: none;
   outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--item-color);
  ;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: var(--item-color);
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width:100%;
} 
.center .pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.center .pass:hover{
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--item-color);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: var(--item-color);
  transition: .5s;
}
.login .center .signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.login .center .signup_link a:hover{
  text-decoration: underline;
}
/*//Main Code*/

 /* //Wrapper */